<!DOCTYPE html>
    <head>
        <meta  charset="UTF-8">
        <title>國立中央大學-行政大樓2樓會議室借用系統</title>
        <link rel="icon" href="/image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="./css/lobby.css">
    </head> 
    
    <body>
        <div class="groupDiv">
            <div class="image"></div>
        
        <div class="flexContainer">
            <h1 class="title">
                行政大樓
                <br />
                二樓會議室
                <br />
                線上預約系統
            </h1>
            <h3 class="subtitle">這裡可以放一些<br/>說明文字</h3>
            <button onclick="javascript:location.href=`http://localhost:3000/api/login/sso`"type="button" class="loginbutton">
                <p class="buttontext">登入</p>
            </button>
        </div>
    </div>
    </body>
</html>