<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>國立中央大學-行政大樓2樓會議室借用系統</title>
        <link rel="icon" href="/image/favicon.ico">
        <script src="https://unpkg.com/gridjs@6.2.0/dist/gridjs.umd.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js"></script>
        <script src="/js/ManagerLog.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/ManagerLog.css">
        <link href="https://unpkg.com/gridjs@6.2.0/dist/theme/mermaid.min.css" rel="stylesheet" />

    </head>
    <body>
        <!-- 左邊選單 -->
        <div class="menu">
            <h3 class="menu-title" id="menu-title1">歡迎登入</h3>
            <h3 id="accountName" class="menu-title" ></h3>
            <div class="page-choose">
                <div id="privilege" class="choice" onclick="changePage(this)">
                    <h3 class="pagetext">權限管理</h3>
                </div>
                <div id="conference" class="choice" onclick="changePage(this)">
                    <h3  class="pagetext">會議管理</h3>
                </div>
                <div id="board" class="choice" onclick="changePage(this)">
                    <h3  class="pagetext">看板管理</h3>
                </div>
                <div id="rules" class="choice"  onclick="changePage(this)">
                    <h3 class="pagetext">使用規則</h3>
                </div>
                <div id="log" class="choice" onclick="changePage(this)">
                    <h3  class="pagetext">登入紀錄</h3>
                </div>
            </div>
        </div>

        <!-- 右邊表格 -->
        <div>
            <div class="search-container">
                <span class="search-label">關鍵字搜尋 :&nbsp;</span>
                <input type="text" placeholder="Type a keyword..." id="grid-search" class="gridjs-input"/>
            </div>
            <div id="gridtable"></div>
        </div>
        <!-- 使用者/管理者 -->
        <div class="useradmin" onclick=""> 
            <img src="/image/user.png"  class="useradmin-button" onclick="location.href ='/page/userlobby'">
            <hr style="margin: 0; height: 100%;" />
            <img src="/image/admin.png" class="useradmin-button" onclick="location.href ='/page/privilege'">
        </div>
        <div>
            <button id="download-button" onclick="downloadLog()">下載紀錄</button>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js" ></script>
</html>