<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>管理者會議管理</title>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js"></script>
        <script src="/js/ManagerConference.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
          <link rel="stylesheet" type="text/css" href="/css/ManagerConference.css">
    </head>
    <body>
        <!-- 左邊選單 -->
        <div class="menu">
            <h3 class="menu-title" id="menu-title1">歡迎登入</h3>
            <h3 id="accountName" class="menu-title" ></h3>
            <div class="page-choose">
                <div id="privilege" class="choice" onclick="changePage(this)">
                    <h3 class="pagetext">權限管理</h3>
                </div>
                <div id="conference" class="choice" onclick="changePage(this)">
                    <h3  class="pagetext">會議管理</h3>
                </div>
                <div id="board" class="choice" onclick="changePage(this)">
                    <h3  class="pagetext">看板管理</h3>
                </div>
                <div id="rules" class="choice"  onclick="changePage(this)">
                    <h3 class="pagetext">使用規則</h3>
                </div>
                <div id="log" class="choice" onclick="changePage(this)">
                    <h3  class="pagetext">登入紀錄</h3>
                </div>
            </div>
        </div>
        <!-- calendar -->
        <div class="lobby">
            <div id="calendar" class="calendar"></div>
        </div>


        <!-- 使用者/管理者 -->
        <div class="useradmin" onclick=""> 
            <img src="/image/user.png"  class="useradmin-button" onclick="location.href ='/page/userlobby'">
            <hr style="margin: 0; height: 100%;" />
            <img src="/image/admin.png" class="useradmin-button" onclick="location.href ='/page/privilege'">
        </div>


        <!-- 編輯頁面 -->
        <div id="hamburger-menu" class="hamburger-menu"> 
            <div id= "hamburger-requestpage" class="hamburger-requestpage">
                <h3 class="hamburger-title">編輯申請</h3>
                <form  id="request">
                    <div class="hamburger-list">
                        <div class="input-group">
                            <h2 class="hamburger-request-title">會議名稱：</h2>
                            <input type="text" class="hamburger-request" name='name' placeholder="會議名稱" />
                        </div>
                        <div class="input-group">
                            <h2 class="hamburger-request-title">申請人 ：</h2>
                            <input type="text" class="hamburger-request" name='person' placeholder="申請人" style="background-color:#ece673"  readonly/>
                        </div>
                        <div class="input-group">
                            <h2 class="hamburger-request-title">申請單位：</h2>
                            <input type="text" class="hamburger-request" name='unit' placeholder="申請單位" style="background-color:#ece673" readonly/>
                        </div>
                        <div class="input-group">
                            <h2 class="hamburger-request-title">連絡電話：</h2>
                            <input type="text" class="hamburger-request" name='phone' placeholder="連絡電話" />
                        </div>
                        <div class="input-group">
                            <h2 class="hamburger-request-title">分機號碼：</h2>
                            <input type="text" class="hamburger-request" name='ext' placeholder="分機號碼" />
                        </div>
                        <div class="input-group">
                            <h2 class="hamburger-request-title">電子信箱：</h2>
                            <input type="text" class="hamburger-request" name='email' placeholder="電子信箱"  >
                        </div>
                        <div class="input-group">
                            <h2 class="hamburger-request-title">開始日期：</h2>
                            <input type="date" class="hamburger-request" name="startdate" id="startdate"/>
                            <select name="starthour" id="starthour">
                                <option value="00">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                              </select>
                            <span>:</span>
                            <select name="startminute" id="startminute">
                                <option value="00">00</option>
                                <option value="30">30</option>
                            </select>
                        </div>
    
                        <div class="input-group">
                            <h2 class="hamburger-request-title">結束日期：</h2>
                            <input type="date" class="hamburger-request" name="enddate" id="enddate"/>
                            <select name="endhour" id="endhour">
                                <option value="00">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                            </select>
                            <span>:</span>
                            <select name="endminute" id="endminute">
                                <option value="00">00</option>
                                <option value="30">30</option>
                            </select>
                        </div>

                    </div>
                    
                    <div id="hamburger-bottom" class="hamburger-bottom" >
                        <div id="backbtn" class="hamburger-sendbutton" onclick="hidePopup('hamburger-menu')">
                            <h3 class="hamburger-title" style="color:white" >返回</h3>
                        </div>
                        <div id="requestsend" class="hamburger-sendbutton" >
                            <h3 class="hamburger-title" style="color:white">編輯送出</h3>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>