<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8" />
    <title>國立中央大學-行政大樓2樓會議室借用系統</title>
    <link rel="icon" href="/image/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    <header>
        <a id="ncu-logo" href="https://ncusec.ncu.edu.tw/secretariat/">
            <img class="logo" src="/image/ncu_logo.png" alt="國立中央大學">
            <img class="logo_min" src="/image/ncu_logo_min.png" alt="國立中央大學">
        </a>
        <h1>行政大樓&emsp;二樓會議室<br>借用系統</h1>
    </header>

    <div class="background-container">
        <div class="content-card">
            <button class="login-btn" onclick="javascript:location.href=`/api/login/sso`">登入</button>
            <div class="footer-links">
                <a href="#">使用規則</a>
                <a href="#">設備介紹</a>
            </div>
        </div>
    </div>

    <footer>
        ©copyright
    </footer>
</body>

</html>