<!DOCTYPE html>
<html>
    <!-- rm toolbar to replace the readonly function -->
    <style>
        .ce-toolbar__plus, .ce-toolbar__settings-btn {
            display: none;
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <title>使用規則</title>
    </head>
    <body>
      <div id="editorjs" style="max-width: 1000px; margin: 0 auto"></div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="/js/text_editor.js"></script>
    <link href="/css/text_editor.css" rel="stylesheet"/>
    <script src="/js/text_editor_custom_client.js"></script>
</html>