body {
    overflow: hidden;
    font-family: Inter, Helvetica, Arial, serif;
    align-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    flex-direction: column; /* 垂直排列內容 */
}

/* 今日會議 */
.calendar {
    height: 100%;
}

/* 現正進行會議 & 下一場會議 */
.hero_title {
    min-width: 0;
    font: 700 50px/1.22 Inter, Helvetica, Arial, serif;
    color: rgb(65 65 65);
}

.subtitle {
    display: flex;
    justify-content: flex-end;
    min-width: 0;
    font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(65 65 65);
    text-align: right;

}

.board-info {
    display: flex;
    flex-direction: column;
    width: contain;
    height: contain;
}

.block {
    display: flex;
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 3%;
    background-color: rgb(238 238 238);
    box-shadow: inset 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.flex_col_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5px 15px 10px 15px;
    /*gap: 8px;*/
}

.medium_title {
    display: flex;
    align-items: center;
    font: 700 40px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);
}

.emphasis {
    font: 700 40px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    width: 100%;
    align-items: flex-start;
    border-radius: 0;

}

.text {
    font: 700 40px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    align-items: flex-start;
    display: flex;
    align-items: center;
    font: 700 40px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);
}
