body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color:#DDD;
}

/* 左邊頁面選項 */
.menu{
    background-color: #fff;
    width:230px;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-title{
    font: 600 28px/1.2 Inter, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 6.3px;
}
#menu-title1{
  margin-bottom: 0;
}
#accountName{
  margin-top :10px;
}
.choice{
    font: bold 20px/1.2 Inter, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 6.3px;
    background-color:#FFF;
    width:fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
.choice:hover{
    background-color:#DDD;
    cursor: pointer;
}
.pagetext{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top:30px;
}


/* 右半邊 */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
}
.ql-toolbar{
    background-color: #fff;
    width: fit-content;
    border-right: 2px solid #000000;
}
.ql-editor{
    margin-top: 1%;
    background-color: #fff;
    height:84vh;
    width:85%;
    overflow:visible !important;
    word-break: break-word; 

}
.ql-container.ql-snow {
    height: auto;
}

.ql-tooltip {
    left: unset !important;  
}

/* 字體名稱 */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Microsoft-JhengHei"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Microsoft-JhengHei"]::before {
    content: "微軟正黑體";
    font-family: "Microsoft-JhengHei";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Arial]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Arial]::before {
    content: "Arial";
    font-family: "Arial";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Times-New-Roman]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Times-New-Roman]::before {
    content: "Times New Roman";
    font-family: "Times New Roman";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=sans-serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=sans-serif]::before {
    content: "sans-serif";
    font-family: "sans-serif";
}
 
.ql-font-Microsoft-JhengHei {
      font-family: "Microsoft YaHei";
}

.ql-font-Arial {
      font-family: "Arial";
}
.ql-font-Times-New-Roman {
      font-family: "Times New Roman";
}
.ql-font-sans-serif {
      font-family: "sans-serif";
}
/* 幾px */
.ql-picker.ql-size .ql-picker-label::before,
.ql-picker.ql-size .ql-picker-item::before {
	content: attr(data-value) !important;
}

.save-button{
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #8F8E8E;
    border-radius: 10px;
    width: 100px;
    height: 41.6px;
    margin-left: 780px;
    cursor: pointer;
    
}
.save-button:hover{
    background-color:#9F9E9E;
    cursor: pointer; 

  }
.buttontext{
    font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
    color:#DDD
}


/* 使用者/管理者按鈕 */
.useradmin{
    position:absolute ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border:1px black solid;
    width: fit-content;
    height:40px;
    margin-top: 10px;
    margin-left:85%;
  }
  
.useradmin-button{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;

    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.useradmin-button:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}